@import "normalize.styl"
@import "../css/main.css"

// Colores
color_blanco = #fff
gris_oscuro = #333
gris_claro = #ccc

/* Fuentes */
@font-face
    font-family 'bebas_neueregular'
    src url('../fonts/bebasneue/bebasneue-webfont.eot')
    src url('../fonts/bebasneue/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bebasneue/bebasneue-webfont.woff') format('woff'),
         url('../fonts/bebasneue/bebasneue-webfont.ttf') format('truetype'),
         url('../fonts/bebasneue/bebasneue-webfont.svg#bebas_neueregular') format('svg')
    font-weight normal
    font-style normal
@font-face
	font-family 'century-gothic'
	src url('../fonts/century-gothic/century-ghotic.ttf') format('truetype')

body
	background url('../img/bg-body.jpg') no-repeat center top
.main
	width 1050px
	margin 0 auto
header
	height 125px
	h1
		color color_blanco
		float left
		font normal 4em 'century-gothic'
		margin 1.8rem 0 0
		text-align center
		line-height 2rem
		.main-title
			text-shadow 2px 2px 2px gris_oscuro
			display block
		.sub-title
			font-size .23em
	img
		float right 
		margin-top .5em
section
	background url('../img/bg-form.png') no-repeat 516px top
	position relative
form
	padding 14px
	position absolute
	right 246px
	top 138px
	width 182px
	font-family bebas_neueregular
	.form-title
		text-align right
		h3
			color color_blanco
			font-size 1.5em
			line-height 1
			margin-bottom 0
			margin-top 0
		strong
			color gris_oscuro
			display block
			font-size .9em
			letter-spacing -1px
			line-height 1
	.fields
		margin-top .7em
		input[type=text]
			border-color gris_claro
			border-width 1px
			box-sizing border-box
			font-family inherit
			letter-spacing .6px
			margin-bottom .5em
			padding .3em
			width 100%
		textarea
			box-sizing border-box
			font-family inherit
			height 74px
			letter-spacing .6px
			width 100%
	#btn-send
		background-color transparent
		border none
		color color_blanco
		display block
		font-family inherit
		font-size 1.4em
		margin 0 auto
		margin-top .4rem
#youtube
	background-color blue
	height 180px
	margin-left 6.1em
	width 328px
#services
	margin-top 5em
	h2
		color color_blanco
		font normal 2.5rem 'century-gothic'
		margin-bottom: .8rem
		text-shadow 2px 2px 2px gris_oscuro
	ul
		list-style-type none
		margin-bottom 0
		margin-top 0
		overflow hidden
		padding-left 0
		width 60%
		li
			float left
			margin .2em .3em 2.5em 0
			width 104px
			div
				background-image url('../img/icons.png')
				background-repeat no-repeat
				height 66px
				margin 0 auto
				width 66px
			span
				color color_blanco
				display block
				font-size .71em
				margin-top .5em
				text-align center
#service-design
	background-position -6px -3px
#service-app
	background-position -87px -3px
#service-web
	background-position -170px -3px
#service-adwords
	background-position -251px -3px
#service-social
	background-position -332px -3px
#service-email
	background-position -412px -3px
#service-seo
	background-position -490px -3px
#service-fb-ads
	background-position -571px -3px
#service-campaign
	background-position -650px -3px
.fix-icon-services
	clear left